# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

log
bin
Logs
Personalities
Statistics
TeaseAI
.classpath
.gitattributes
.project
.settings/
TeaseAI.properties

